body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background-img.jpg'); /* Add your image file path here */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: to keep the background fixed while scrolling */
    background-color: #f2f2f2; /* Fallback background color */
    margin: 0;
    padding: 0;
}

.title {
    color: #0078d4;
    font-size: 36px;
    margin-top: 20px;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.carousel-item {
    width: 300px;
    padding: 20px;
    background-color: #0078d4;
    border: 2px solid #005b9d;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-button {
    display: none;
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #005b9d;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
