body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    color: #0078d4;
    font-size: 36px;
    margin-top: 20px;
}

#technology-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.carousel-item {
    padding: 20px;
    background-color: #0078d4;
    border: 2px solid #005b9d;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.carousel-item h3 {
    margin: 0;
    color: #fff;
}

.carousel-item.active {
    transform: scale(1.05);
    background-color: #005b9d;
}

.start-button {
    display: none;
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0078d4;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #005b9d;
}
